@use 'variables';

html {
    font-size: 100%;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "SourceCodePro", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
    background-color: variables.$black;
    color: variables.$white;

    @media (max-width: variables.$vp-1024) {
        font-size: 16px;
    }

    @media (max-width: variables.$vp-768) {
        font-size: 14px;
    }
}

span,
div {
    cursor: default;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
    -webkit-border-radius:0px;
    border-radius: 0;
}
