@use "base/variables";

.card {
	&__grid {
		display: grid;
		color: variables.$white;
		grid-template-columns: minmax(350px, 500px) 1fr;
		gap: 35px;
		padding: 40px 30px;
		background-color: rgba(1, 1, 1, 0.7);
	}

	&__grid-left {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}

	&__about {
		display: flex;
		flex-direction: column;
	}

	&__grid-title {
		font-size: 1.5rem;
		margin-bottom: 10px;
	}

	&__grid-subtitle {
		margin-bottom: 20px;
	}

	&__brew {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		width: 100%;
		margin-bottom: 20px;

		span {
			padding: 0 10px;
		}

		a {
			display: flex;
			align-items: flex-end;
		}

		img {
			width: 65px;
		}
	}

	&__desc {
		margin-bottom: 20px;
	}

	&__beer-desc {
		display: flex;
		gap: 20px;
		height: 100%;
	}

	&__style-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 20px;
		align-items: stretch;
		justify-content: space-between;

		li {
			display: flex;
			flex-direction: column;
			width: 48%;
		}
	}

	&__style-list-title {
		padding: 10px;
		color: #fff;
		border-bottom: 1px solid white;
	}

	&__style-list-text {
		padding: 10px 10px 20px;
		background-color: rgba(255, 255, 255, 0.2);
		height: 100%;
		font-size: 0.8889rem;
	}

	&__beer-profile {
		display: flex;
		font-size: 2rem;
		justify-content: center;
		margin: 20px 0;
	}

	&__beer-profile-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 2rem 0;
	}

	&__rate {
		display: flex;
		justify-content: center;
		font-size: 0.8889rem;
		align-items: flex-end;
		justify-content: flex-end;
	}

	&__rate-item {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 0 1rem 0;

		&_untappd {
			a {
				display: flex;
				align-items: center;
				flex-direction: column;
				color: variables.$casablanca;
			}

			span {
				cursor: pointer;
				border-bottom: 1px solid variables.$casablanca;
			}
		}
	}

	&__like {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 3rem;
	}

	&__like {
		cursor: pointer;
	}

	&__rate-btn {
		padding: 10px;
		border: 1px solid white;
	}

	&__bottom {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-top: auto;
	}

	&__qr {
		width: 65px;
	}

	@media (max-width: variables.$vp-1366) {
		&__grid-subtitle {
			font-size: 1rem;
		}

		&__reviews-btn {
			display: none;
		}
	}

	@media (max-width: variables.$vp-1024) {
		&__grid {
			grid-template-columns: 1fr;
		}

		&__style-list {
			li {
				width: 100%;
			}
		}

		&__bottom {
			gap: 20px;
		}
	}

	@media (max-width: variables.$vp-768) {
		&__grid {
			gap: 20px;
			grid-template-columns: minmax(260px, 1fr);
		}

		&__beer-profile-item {
			justify-content: center;
			flex-direction: column;
		}

		&__desc {
			text-align: center;
		}

		&__beer-desc {
			grid-template-columns: 1fr;
			gap: 0;
		}

		&__about {
			justify-content: center;
			align-items: center;
		}

		&__bottom {
			flex-direction: column;
			align-items: center;
		}

		&__qr {
			width: 50px;
			height: 50px;
		}

		&__brew {
			img {
				width: 50px;
				height: 50px;
			}
		}
	}
}
