@use "base/variables";

.catalog {
	&__filters {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		flex-wrap: wrap;
		gap: 2rem;
		margin-bottom: 30px;
		background-color: rgba(1, 1, 1, 0.5);
		padding: 30px 20px;
	}

	&__selects-wrapper {
		width: 100%;
	}

	&__selects {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 10px;
		row-gap: 15px;
	}

	&__selects-title {
		display: none;
	}

	&__select {
		position: relative;
		width: 100%;
		max-width: 250px;
		gap: 5px;
		display: flex;
		flex-direction: column;
	}

	&__select-title {
		padding: 0 10px;
	}

	&__select.is-active .catalog__select-body {
		display: block;
		z-index: 2;
	}

	&__select-header {
		border: 1px solid variables.$white;
		cursor: pointer;
		display: flex;
		padding: 5px 5px 5px 10px;
		background-color: variables.$black;
		height: 35px;
	}

	&__select-current {
		cursor: pointer;
		width: 100%;
		font-size: .9rem;
	}

	&__select-icon {
		align-items: center;
		display: flex;
		flex-shrink: 0;
		justify-content: center;
		height: 40px;
		margin-left: auto;
		text-align: center;
		width: 40px;
	}

	&__select-body {
		border-top: 0;
		display: none;
		left: 0;
		position: absolute;
		right: 0;
		top: 100%;
		background-color: variables.$white;
		color: variables.$black;
		overflow: auto;
		max-height: 150px;
	}

	&__select-btn {
		cursor: pointer;
		padding-top: 10px;
		margin-left: auto;
		color: variables.$white;
		font-size: 1.5rem;
		transform: rotate(90deg);
		cursor: pointer;
	}

	&__select-item {
		cursor: pointer;
		line-height: 24px;
		padding: 10px;
		margin-left: auto;
		color: variables.$black;
		font-size: .9rem;

		&:hover {
			background-color: variables.$black;
			color: variables.$white;
		}
	}

	&__search {
		width: 100%;

		form {
			display: flex;
			gap: 1.5rem;
		}

		input {
			padding: 5px 40px 5px 5px;
			background-color: variables.$white;
			color: variables.$black;
			width: 100%;
			font: {
				family: "SourceCodePro";
				size: 1rem;
			}
		}

		button {
			padding: 5px;
			cursor: pointer;
		}
	}

	&__page {
		display: none;

		&_active {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			padding: 30px 20px;
			gap: 20px;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: 100%;
		max-width: 300px;
	}

	&__subtitle {
		text-align: left;
	}

	&__card {
		color: variables.$black;
		background-color: white;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		padding: 1.5rem 1rem 1.5rem;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	&__like {
		position: absolute;
		top: 1rem;
		left: 1rem;
		cursor: pointer;
		width: 30px;
		height: 30px;
	}

	&__desc {
		display: flex;
		flex-direction: column;
	}

	&__title {
		font: {
			size: 1.5rem;
			weight: 600;
		}
		margin-bottom: 0.5rem;
		text-align: center;
	}

	&__brewery {
		display: flex;
		margin-top: 0.5rem;
		cursor: pointer;

		a {
			display: flex;
			gap: 15px;
			align-items: center;
			cursor: pointer;
		}
	}

	&__text {
		text-align: center;
		margin: 2rem 0;
		font-weight: 300;
	}

	&__qr {
		display: block;
		margin: auto;
		margin-bottom: 1.5rem;
	}

	&__btn {
		margin: 0 auto;
		padding: 5px;
	}

	&__icons {
		display: flex;
		align-items: flex-end;
	}

	@media (max-width: variables.$vp-1680) {
		&__page {
			grid-template-columns: repeat(3, 1fr);
		}

		&__item {
			max-width: 100%;
		}

		&__search {
			form {
				flex-direction: row;
				justify-content: center;
			}
		}
	}

	@media (max-width: variables.$vp-1024) {
		&__page {
			grid-template-columns: repeat(2, 1fr);
		}

		&__selects-wrapper {
			width: 100%;
			display: flex;
			flex-direction: column;
		}

		&__selects-title {
			background-color: variables.$black;
			border: 1px solid variables.$white;
			font-size: 1rem;
			position: relative;
			display: flex;
			align-items: center;
			padding: 10px;
			cursor: pointer;
			width: 100%;
			margin-bottom: 20px;

			&::after {
				position: absolute;
				content: "";
				width: 20px;
				height: 20px;
				background-image: url(../icons/arrow.svg);
				background-repeat: no-repeat;
				background-position: center;
				transform: rotate(-180deg);
				right: 10px;
			}
		}

		&__selects {
			display: none;

			&_active {
				display: flex;
			}
		}

		&__select {
			width: 100%;
		}

		&__search {
			width: 100%;

			form {
				flex-direction: column;
				position: relative;
			}

			input {
				margin: 0 auto;
			}

			button {
				position: absolute;
				content: "";
				top: 50%;
				right: 10px;
				width: 15px;
				height: 15px;
				background-image: url(../icons/search.svg);
				background-repeat: no-repeat;
				font-size: 0;
				background-color: rgba(0, 0, 0, 0);
				border: none;
				transform: translateY(-50%);
			}
		}
	}

	@media (max-width: variables.$vp-768) {
		&__wrapper {
			padding: 10rem 1rem 15rem;
		}

		&__filters {
			align-items: center;
		}

		&__page {
			grid-template-columns: 1fr;
		}
	}
}
