@use "base/variables";

.connection {
	display: flex;
	gap: 3rem;
	align-items: center;
	padding: 40px;
	width: 100%;
	justify-content: space-between;
	margin: auto;

	@media (max-width: variables.$vp-1366) {
        padding: 40px 20px;
    }

	@media (max-width: variables.$vp-768) {
        flex-direction: column;
    }
}
