.contacts {
    &__wrapper {
        display: flex;
        align-items: flex-end;
        gap: 4rem;
    }

	&__title {
		font-size: 2rem;
		margin-bottom: 2rem;
		font-weight: 400;
	}

	&__connection {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
	}

	&__connection-item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
        padding-left: 2.5rem;

		&_phone {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				width: 30px;
				height: 30px;
				background-image: url("../icons/phone.svg");
				background-repeat: no-repeat;
                left: 0;
			}
		}

		&_mail {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				width: 30px;
				height: 30px;
				background-image: url("../icons/mail.svg");
				background-repeat: no-repeat;
				left: 0;
			}
		}
	}
}
