@use "base/variables";

.connection {
	display: flex;
	gap: 100px;
	align-items: center;
	padding: 40px 0;
	width: 100%;
	justify-content: center;

	@media (max-width: variables.$vp-768) {
        flex-direction: column;
    }
}
