@use "base/variables";

.contacts {
		display: flex;
		flex-direction: column;
		color: variables.$white;
		z-index: 3;
		align-items: flex-end;
		gap: 1rem;

	&__link {
		padding-right: 3.5rem;
		display: flex;
		align-items: center;
        font-size: 1.5rem;

		&_phone {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				width: 30px;
				height: 30px;
				background-image: url("../icons/phone.svg");
				background-repeat: no-repeat;
                right: 0;
				z-index: 3;
			}
		}

		&_mail {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				width: 30px;
				height: 30px;
				background-image: url("../icons/mail.svg");
				background-repeat: no-repeat;
				right: 0;
				z-index: 3;
			}
		}
	}
}