@use "base/variables";

.footer {
    background-color: rgba(0, 0, 0, .7);
    position: relative;
    text-align: center;
    width: 100vw;
    height: 100px;
    display: flex;
    flex: 0;

    @media (max-width: variables.$vp-1024) {
        height: 80px;
    }
}
