@use "base/variables";

.footer {
	background-color: variables.$black;

    &__body {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 3rem 0;
	}

	&__logo {
		flex: 0 0 20.8333rem;
		position: relative;
		z-index: 3;
	}

	&__logo img {
		max-width: 100%;
		display: block;
	}

	@media (max-width: 767px) {
		&__logo {
			flex: 0 0 12.5rem;
		}
	}
}
