@use "base/variables";

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 2;
	}

	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
		align-items: center;
	}

	&__menu {
		display: flex;
		flex-wrap: wrap;
		z-index: 2;
		justify-content: center;
		gap: 2rem;
		position: relative;
	}

	&__menu-item {
		position: relative;
		padding: 0.5rem;
		cursor: pointer;
		text-transform: uppercase;

		@media (min-width: 769px) {
			&:hover {
				.header__link {
					border-bottom: 2px solid variables.$white;
				}
			}
		}
	}

	&__logo {
		position: relative;
		z-index: 3;
		width: 140px;
		height: 50px;

		img {
			max-width: 100%;
			display: block;
		}
	}

	@media (max-width: variables.$vp-1024) {
		&__body {
			height: 80px;
		}
	}

	// МОБИЛЬНАЯ ВЕРСИЯ
	@media (max-width: variables.$vp-768) {
		&__link {
			margin-bottom: 0;
		}

		&__body {
			justify-content: space-between;
		}

		&__menu-item {
			font-size: 18px;
		}
	}

	// МЕНЮ
	@media (max-width: variables.$vp-768) {
		&_active {
			background-color: variables.$black;
		}

		&__body {
			height: 80px;
		}

		&__burger {
			width: 30px;
			height: 30px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			z-index: 3;
			gap: 5px;
			cursor: pointer;
			z-index: 3;

			span {
				display: block;
				width: 8px;
				height: 8px;
				background-color: variables.$white;
				border-radius: 50%;
				transition: all 0.2s ease;
				cursor: pointer;
				text-align: center;
			}

			&_active {
				justify-content: center;

				span {
					display: block;
					width: 25px;
					height: 2px;
					background-color: variables.$white;
					transition: all 0.3s ease;
					cursor: pointer;
					text-align: center;
					border-radius: 2px;
					position: absolute;

					&:nth-child(2) {
						display: none;
					}

					&:first-child {
						transform: rotate(45deg);
					}

					&:last-child {
						transform: rotate(-45deg);
					}
				}
			}
		}

		&__nav {
			position: fixed;
			top: 80px;
			right: -100%;
			width: 75%;
			height: 100%;
			padding: 20px;
			background-color: variables.$black;
			backdrop-filter: blur(2px);
			text-align: right;
			color: variables.$white;
			transition: all 0.3s ease;
			overflow: auto;
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;

			&_active {
				right: 0;
			}
		}

		&__link {
			display: block;
		}

		&__menu {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			top: 20%;
			width: 100%;
			gap: 0;
			margin-top: -50px;
		}

		&__menu-item {
			padding: 20px 0 10px 40px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			border-bottom: 1px solid variables.$white;
			width: 65%;
		}
	}
}
