@use "base/variables";

.login {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 40px 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;

	form {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;

		label {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		input {
			width: 100%;
			padding: 10px;
			font: {
				size: inherit;
				family: inherit;
			}
		}
	}

	&__button {
		width: 100%;
		margin-bottom: 20px;
		border: 1px solid variables.$white;
		margin-top: 10px;
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		width: 100%;

		span {
			display: flex;
			align-items: center;
			gap: 10px;

			a {
				border-bottom: 2px solid transparent;

				&:hover {
					border-color: variables.$white;
				}
			}

			svg {
				width: 20px;
				height: 20px;
			}
		}
	}
}
