@use "base/variables";

.login {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 5.5556rem 3.3333rem;
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 600px;
	width: 100%;
	margin: 0 auto;

	form {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 100%;

		label {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		input {
			width: 100%;
			padding: 10px;
			font: {
				size: inherit;
				family: inherit;
			}
		}
	}

	&__button {
		margin: 0 auto;
		margin-bottom: 2.2222rem;
		border: 1px solid variables.$white;
	}

	&__links {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;

		span {
			display: flex;
			align-items: center;
			gap: 10px;

			a {
                border-bottom: 2px solid transparent;

                &:hover {
                    border-color: variables.$white;
                }
            }

			svg {
				width: 20px;
				height: 20px;
			}
		}
	}

    @media (max-width: variables.$vp-768) {
        &__links {
            flex-direction: column;
            gap: 20px;
        }
    }
}
