@use "base/variables";

.projects {
    background-color: variables.$white;
    padding: 10rem 0;

    &__wrapper {
        margin: 0 7rem;
    }

    &__list {
        display: flex;
        gap: 3.7rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 4rem 0;
        position: relative;

        &::after,
        &::before {
            position: absolute;
            content: "";
            width: 80rem;
            height: 1px;
            background-color: variables.$black;
        }

        &::after {
            bottom: 0;
        }

        &::before {
            top: 0;
            width: 110rem;
        }
    }
}