@use "base/variables";

.projects {
	background-color: variables.$white;

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__link {
		width: 250px;
		height: auto;

		picture {
			display: block;
			min-width: 100%;
		}

		img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}

	&__list {
		display: flex;
        gap: 60px;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 80px 60px;
		position: relative;
		background-color: rgba(255, 255, 255, 0.5);
        margin-bottom: 4rem;
	}

    @media (max-width: variables.$vp-1366) {
        &__link {
			width: 200px;
		}

        &__list {
            padding: 60px 40px;
            gap: 40px;
        }
    }

    @media (max-width: variables.$vp-1024) {
        &__list {
            gap: 20px;
        }
    }

	@media (max-width: variables.$vp-768) {
		&__list {
			flex-direction: column;
            padding: 20px;
		}

		&__link {
			width: 150px;
		}
	}
}
