@use "base/variables";

.projects {
	&__link {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		width: 150px;
		height: auto;

		img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 100px 40px;
		column-gap: 40px;
		row-gap: 20px;
		background-color: rgba(0, 0, 0, 0.7);
	}

	@media (max-width: variables.$vp-1366) {
		&__list {
			padding: 40px 20px;
		}
	}

	@media (max-width: variables.$vp-768) {
		&__link {
			width: 100px;
		}
	}
}
