@use "base/variables";

.reviews {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	margin-top: 1.5625rem;

	&__comment {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 0.625rem;
		padding: 1rem;
		color: variables.$black;
		background-color: variables.$white;
	}

	&__title {
		display: flex;
		gap: 3.75rem;
		font-weight: 500;
	}

	&__text {
		display: flex;
		justify-content: space-between;
		margin-top: 15px;
	}

	&__rate {
		display: flex;
		justify-content: space-between;
		gap: 1.25rem;
	}
}
