.slider {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.slider__wrapper {
    position: relative;
    display: flex;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
}

img {
    width: 100%;
    display: block;
}

.slider-button {
    position: absolute;
    top: 50%;
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(-50%);
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.prev,
.next {
    fill: $white;
    width: 60px;
    height: 60px;
}

.prev {
    left: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}

.next {
    right: 40px;
}

button.disabled {
    opacity: .3;
    pointer-events: none;
}
