@use "base/variables";

.slider {
	position: relative;
	display: flex;
	flex-direction: column;

	&_catalog {
		color: variables.$black;
	}

	&__wrapper {
		position: relative;
		max-width: 600px;
		overflow: hidden;

		@media (max-width: variables.$vp-1024) {
			margin: 0 auto;
		}
	}

	&__title {
		display: flex;
		justify-content: space-between;
		font-size: 3rem;
	}

	&__icons {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__heart {
		cursor: pointer;

		&:hover {
			fill: red;
		}
	}

	&__subtitle {
		font-size: 1.5rem;
	}

	&__slides {
		display: flex;
		transition: transform 0.5s ease;
	}

	&__slide {
		min-width: 100%;

		&_catalog {
			img {
				width: 500px;
				height: 500px;
			}
		}
	}

	&__btns {
		display: flex;
		justify-content: center;
		gap: 1rem;

		&_catalog {
			display: flex;
			gap: 0;
			position: absolute;
			bottom: 0;
			align-items: center;
			justify-content: center;
			width: 100%;
		}
	}

	&__button {
		cursor: pointer;

		&_catalog {
			padding: 1.5rem 1.5rem 1rem;

			button {
				width: 5rem;
				height: 3px;
				background-color: variables.$tomato;
				border-radius: 5px;
			}
		}
	}
}
