@use "base/variables";

.slider {
	position: relative;
	display: flex;
	flex-direction: column;

	&_catalog {
		color: variables.$black;
	}

	&__wrapper {
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	&__slides {
		display: flex;
		transition: transform 0.5s ease;

		&_catalog {
			margin: 0;
		}
	}

	&__slide {
		min-width: 100%;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__like {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;

		&_active {
			fill: variables.$brick-red;
		}
	}

	&__btns {
		display: flex;
		justify-content: center;
		gap: 1rem;
		margin-top: 20px;

		&_lines {
			display: flex;
			gap: 0;
			position: absolute;
			bottom: 0;
			align-items: center;
			justify-content: center;
			width: 100%;
		}

		&_card {
			display: none;
		}
	}

	&__button {
		cursor: pointer;
		padding: 12px;
	}

	&__button-line {
		display: block;
		width: 50px;
		height: 2px;
		background-color: variables.$topaz;
		border-radius: 5px;

		&_active {
			background-color: variables.$black;
		}
	}

	&__reviews-btn {
		margin-right: 2.3rem;
	}

	@media (max-width: variables.$vp-768) {
		&__button {
			img {
				display: none;
			}
		}

		&__btns_card {
			bottom: 2rem;
			display: flex;
		}
	}
}
