@use "base/variables";

.social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 2;

    &__link {
        cursor: pointer;
        width: 40px;
        height: 40px;
        fill: variables.$white;
        transition: .3s;

        &:hover {
            fill: variables.$tomato;
        }

        svg {
            width: 40px;
            height: 40px;
        }
    }

    @media (max-width: variables.$vp-1366) {
        &__link {
            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}
